*{
   margin: 0;
   padding:  0;
}

.cabecalho {
    padding: 15px 25 px;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    background-color: #2987a3;
}

.cartao {
    width: 260px;
    height: 200px;
}

.cartao-imagem {
    width: 100px;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #dfcfcf ;
}

main{
    flex: 1;
}

.cabecalho-link{
    color: #1a1377;
    text-decoration: none;
}

h1 {
     color: #fff;
     font-size: 24px;
}

footer{
    background-color: #1a1377;
    padding: 15px 25px;
    color: #fff;
}

.cartao-interno{
    position: relative;
}

.cartao-frente 

